/* *{
    border: solid red 1px;
} */
 html {
  box-sizing: border-box;
}
 

 .container {
    height: 1000px;
    width: 1000px;
    border: solid red 1px;
 }
 .box{
    box-sizing: inherit;
    border: dotted rgb(212, 212, 212) 1px;

 }
 .box:hover {
   border: solid black 1px;

 }